%h2= "Login"
= form_for @user_session do |f|
  - @user_session.errors.full_messages.each do |msg|
    = msg
  = f.label :username
  = f.text_field :username
  = f.label :password
  = f.password_field :password
  = f.submit 'Login'
= link_to 'home' ,root_path

